* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.header {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bottom {
    border-top: 1px solid rgb(228, 228, 228) ;
    background-color: #F5F5F5;
}

.header .logo {
    width: 1000px;
    height: 63px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    background-color: white;
    border-bottom: 1px solid rgb(158, 155, 155);
    
}
.header .logo .naver {
    font-size: 25px;
    font-weight: 1000;
    width: 200px;
}
.header .logo .right {
    width: 800px;
    display: flex;
    justify-content: flex-end;
}
.header .logo .square {
    margin-right: 10px;
}
.header .logo .login {
    margin-right: 10px;
    border: 1px solid rgb(153, 151, 151);
    border-radius: 5px;
    background-color: white;
    padding: 2px 5px 2px 5px;
    font-size: 13px;
    color: rgb(153, 151, 151);;
}

