.header .menu {
    height: 45px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(153, 151, 151);

}
.header .menu .nav {
    font-size: 17px;
    font-weight: 700;
    color: black;
    display: flex;
    flex-direction: row;
}
/* 메뉴 바 */
.nav > li {
    height: 45px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}
.nav > li:hover {
    background-color: #03c73c;
    color: white;
}
.nav .novel {
    background-color: #03c73c;
    color: white;
}
.nav .movie {
    width: 115px;
    color: rgb(153, 151, 151);
}
.nav .movie p{
    border-left: 1px solid rgb(153, 151, 151);
    padding-left: 20px;
}
.menu .search {
    width: 740px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.search .my {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 13px;
    font-weight: 600;
}
.search .my > li {
    margin-right: 10px;
}
.search .my .bag {
    border-left: 1px solid rgb(153, 151, 151);
    padding-left: 10px;
}
.search > form > input {
    padding-left: 7px;
    border: none;
    width: 250px;
    height: 32px;
}
.search > form > span {
    font-size: 25px;
    width: 32px;
    height: 32px;
    text-align: center;
}
.search > form {
    display: flex;
    align-items: center;
    width: 270px;
    height: 35px;
    border: 1px solid rgb(153, 151, 151);
}